.application {

    display: flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 100%;

}

.container {

    width: 400px;
    height: 200px;

}


.row {

    display: flex;
    width: 100%;

}
